In [2]:
import pandas as pd
df = pd.read_csv('datasets/kc_house_data.csv')

# How many properties are available for purchase?

In [4]:
print('There is', df.shape[0], 'properties available for purchase.')

There is 21613 properties available for purchase.

# How many attributes do these properties have?

In [6]:
print('These properties have', df.shape[1], 'attributes.')

These properties have 21 attributes.

# What are the attributes of these properties?

In [7]:
print(df.columns)

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

# What is the most expensive property?

In [9]:
print(df[['id', 'price']].sort_values('price', ascending=False))
print('The property with id 6762700020 is the most expensive.')

               id      price
7252   6762700020  7700000.0
3914   9808700762  7062500.0
9254   9208900037  6885000.0
4411   2470100110  5570000.0
1448   8907500070  5350000.0
...           ...        ...
8274   3883800011    82000.0
16198  3028200080    81000.0
465    8658300340    80000.0
15293    40000362    78000.0
1149   3421079032    75000.0

[21613 rows x 2 columns]
The property with id 6762700020 is the most expensive.

# Which property has the highest number of rooms?

In [11]:
print(df[['id', 'bedrooms']].sort_values('bedrooms', ascending=False))
print('The property with id 2402100895 have the highest number of rooms.')

               id  bedrooms
15870  2402100895        33
8757   1773100755        11
15161  5566100170        10
13314   627300145        10
19254  8812401450        10
...           ...       ...
19452  3980300371         0
8484   2310060040         0
875    6306400140         0
8477   2569500210         0
9773   3374500520         0

[21613 rows x 2 columns]
The property with id 2402100895 have the highest number of rooms.

# What is the sum of rooms in the data set?

In [12]:
print('The sum of rooms is equal to', sum(df['bedrooms']), '.')

The sum of rooms is equal to 72854 .

# What is the average price of all properties?

In [13]:
print('The average price of the properties is equal to: $', round(df['price'].mean(), 2))

The average price of the properties is equal to: $ 540088.14

# What is the average price of a property with 2 bathrooms?

In [16]:
print('The average price of a property with have 2 bathrooms is: $',
      round(df.loc[df['bathrooms'] == 2, 'price'].mean(), 2))

The average price of a property with have 2 bathrooms is: $ 457889.72

# What is the minimum price between properties with 3 bedrooms?

In [18]:
print('The minimum price between properties with 3 bedrooms is $',
      round(df.loc[df['bedrooms'] == 3, 'price'].min(), 2))

The minimum price between properties with 3 bedrooms is $ 82000.0

# How many properties have more than 300 square meters in the living room?

In [19]:
df['m2_living'] = df['sqft_living'] * 0.092
print(df[df['m2_living'] > 300].shape[0],
      'properties have more than 300 square meters in the living room.')

2141 properties have more than 300 square meters in the living room.

# How many properties have more than 2 floors?

In [20]:
print(df[df['floors'] > 2].shape[0], 'properties have more than 2 floors.')

782 properties have more than 2 floors.

# How many properties have sea view?

In [21]:
print(df[df['waterfront'] == 1].shape[0], 'properties have sea view.')

163 properties have sea view.

# Of the properties with sea view, how many have 3 bedrooms?

In [22]:
print(df[(df['waterfront'] == 1) & (df['bedrooms'] == 3)].shape[0],
      'of the properties with sea view have 3 bedrooms.')

64 of the properties with sea view have 3 bedrooms.